
body, html {
  height: 100%;
  width: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
}

body {font-weight:600;}

.lead {
  font-size: 18px;
  font-weight: 400;
}

p {
  color:#656565;
  font-weight:400;
  font-family: Open sans, serif;
}

/* Header */

.header {
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 10000;
}

.navbar-default {
  background:transparent !important;
  border:none;
}

.image-logo {
  height: 45px;
}

.navbar-nav {
  float: left;
}

/* top content */

.top-bar {
  color: #ffffff;
}


.top-header {
  display: block;
  background: #6596EE url(../images/background/blurred-background.jpg) no-repeat bottom fixed;
  background-size:100% auto;

  color: #f8f8f8;
  padding-top: 2%;
  padding-bottom: 2%;
}

.top-message {
  position: relative;
  padding-top: 22%;
  padding-bottom: 0%;
  padding-right:50px;
}

.top-message > h1 {
  margin: 0;
  font-size: 4em;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
  text-transform:uppercase;
  font-weight:700;
}

.top-message .btn1 {
  padding: 15px 35px;
}

.top-divider {
  width: 100%;
  border-top: 1px solid #f8f8f8;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
  display: table;
  height: 0px;
  margin-top: 30px;
  margin-bottom: 0px;
}

.top-message > h3 {
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
  font-weight:400;
  margin-top:10px;
}

.top-message > p {
  font-size:14px;
  line-height:22px;
  margin-bottom:25px;
  color:#fff;
}

.navbar-default .navbar-nav > li > a {
  color: #444444;
  padding-bottom: 0;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #6596EE;
}

/* Welcome content */

.welcome {
  padding:50px 0 30px;
}

.welcome h2 {
  font-size:32px;
  margin-bottom:15px;
}

.welcome p {
  font-size:16px;
  width:75%;
  margin:0 auto 30px;
  line-height:25px;
}

/* Services content */

.services {
  background: #01c6d6;
  padding: 80px 0 60px;
  color: #fff;
}

.services h4 {
  font-size:20px;
  margin:25px 0 15px;
  font-weight:500;
}

.services p {
  font-size:13px;
  line-height:21px;
  color:#fff;
}

.service-item {
  margin-bottom: 15px;
}

i.service-icon {
  border: 2px solid #fff;
  color:#fff;
  border-radius: 50%;
  display: inline-block;
  font-size: 40px;
  width: 100px;
  height: 100px;
  line-height: 100px;
  vertical-align: middle;
  text-align: center;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  position:relative;
}

.service-item:hover {
  cursor:pointer;
}

.service-item:hover i.service-icon{
  font-size:28px;
}

.service-item:hover i.service-icon:after {
  content:'';
  border:4px solid #fff;
  position:absolute;
  color:#fff;
  width:95%;
  height:96%;
  left:3%;
  right:0%;
  top:2%;
  border-radius:50%;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

/* Previews */

.previews {
  padding: 30px;
}

.previews h2 {
  margin-top: 0;
}

/* Project Management */

.project-management {
  background:#2ecc71;
  padding:25px 0;
  color:#fff;
}

.project-management p {
  color:#fff;
  font-size:14px;
  line-height:22px;
}

/* Workspaces Management */

.workspaces-management {
  background: #A972E4;
  padding:25px 0;
  color:#fff;
}

.workspaces-management p {
  color:#fff;
  font-size:14px;
  line-height:22px;
}

/* Cloud Synchronization */

.cloud-sync {
  background: #6DAAEC;
  padding:25px 0;
}

.cloud-sync p {
  color:#fff;
  font-size:14px;
  line-height:22px;
}

.cloud-sync h2 {
  color:#fff;
  margin-bottom: 30px;
}

.heading-spacer {
  border-top: 3px solid #fff;
  width: 200px;
  float: left;
}


/* Tabs content */


.img-tab {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 30%;
}

.tab-pane {
  padding: 15px 0;
}

.tab-pane p {
  line-height:23px;
}

.tabs-content {
  padding:50px 0;
}

.tab-pane button:hover {
  background: #65BDEE;
  box-shadow: 0 5px rgba(0,0,0,0.1);
}

.tab-pane button i {
  font-size: 22px;
  position: relative;
  margin-right: 3px;
}

.pricing-title {
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  font-weight: 400;
  color: #fff;
  margin-bottom: 50px;
}

.nav-tabs a {
  color:#999;
}

.nav-tabs a:hover {
  color:#222;
}

.osx-div {
  display:block;
}

.linux-div {
  display:none;
}

.windows-div {
  display:none;
}

/* Team content */

.team h3 {
  font-weight:400;
}

.team p {
  margin-bottom:20px;
}

.image-team {

}

.facebook-link a:hover {
  color: #3b5998;
}

.linkedin-link a:hover {
  color: #007fb1;
}

.twitter-link a:hover {
  color: #39a9e0;
}

.google-plus-link a:hover {
  color: #d14836;
}

.list-social-icons {
  margin-bottom: 20px;
}

.tooltip-social a {
  text-decoration: none;
  color: #bbb;
  font-size: 13px;
}

/* Pricing content */


.price {
  font-size: 4em;
}

.price-cents {
  vertical-align: super;
  font-size: 50%;
}

.list-group-item {
  color: #757575;
  font-size: 14px;
}

.list-group .btn {
  background:#6596EE !important;
  border-color:#0fa285;
}

.list-group .btn:hover {
  background:#0fa285 !important;
}

.panel-default {
  border-color: #ccc;
  padding: 15px 0;
}

.panel-body {
  font-family:Open sans;
  font-size:13px;
  line-height:23px;
  font-weight:400;
  color:#555;
}

/* University */
.university {
  background: #FFFFFF;
  padding: 0 0 60px;
}


/* Clients content */

.clients {
  padding:20px 0 60px;
}

.img-client {
  opacity: 0.5;
  height: auto;
  width: auto;
  max-width: 400px;
  max-height: 400px;
  filter: alpha(opacity=50);
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.img-client:hover {
  opacity:1;
  filter: alpha(opacity=100);
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

/* Call to Action */

.newsletter {
  color: #ffffff;
  background: #34495e;
  padding: 40px 0 55px;
}

.newsletter input {
  border:none;
  background:#fff;
  height: 41px;
  border-radius: 6px;
  padding: 0px 15px;
  font-family: Open Sans;
  font-weight: 600;
  position: relative;
  top: 2px;
}

.newsletter .btn {
  margin: 10px;
  text-transform:uppercase;
  font-weight:bold;
  font-family:open sans;
  font-size:14px;
  padding:10px 25px;
}

/* Map Styles */
.gmap div {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

#map{
  display: block;
  width: 100%;
  height: 500px;
  margin: 0 auto;
}

#map.large{
  height:500px;
}

#map img {
  max-width:none !important;
  height:auto;
}

/* Contact Info */

.contact-info {
  padding-top: 8px;
  padding-left: 0;
}

.contact-info li {
  list-style: none;
  margin-right: 50px;
  text-align: center;
  font-size: 18px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.cinfo {
  padding: 15px 0;
  color: #f8f8f8;
  background: #6596EE;
  background-size: cover;
}

.cinfo ul {
  margin-bottom: 0;
}

.cinfo ul li {
  display: inline;
}

.cinfo-social-buttons {
  float: right;
  margin-top: 0;
}

.cinfo-social-buttons .btn {
  color:#6596EE;
  border:2px solid #fff;

}

.cinfo-social-buttons .btn:hover {
  color:#fff;
  background:transparent;
  border:2px solid #fff;
}

/* Footer */

footer .list-inline {
  display:table;
  margin:0 auto;
}

footer {
  background-color: #f8f8f8;
  padding: 20px 0;
}

p.copyright {
  margin: 15px 0 0;
}

/* Extras */

.btn1 {
  border: none;
  font-family: inherit;
  font-size: 18px;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 20px 35px;
  display: inline-block;
  margin: 15px 0px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn1:hover {
  background:#65BDEE;
  color:#fff;
}

.btn-7 {
  color: #ffffff;
  padding: 10px 15px;
  background: #6596EE;
  border-radius: 7px;
  box-shadow: 0 5px rgba(0,0,0,0.1);
  text-transform: capitalize;
}

.btn-8 {
  background: #6596EE;
  box-shadow:0 5px rgba(0,0,0,0.3);
  color:#fff;
}

.lmore {
  color: #312C2D;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.lmore:hover {
  color: #0065D3;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.lmore span {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
}

.btn2 a {
  position: relative;
  display: inline-block;
  margin: 0px 25px;
  outline: none;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
  font-size: 16px;
  text-transform:uppercase;
  font-family:open Sans;
}

.page-header {
  font-weight:700;
}

.btn2 a:hover,
.btn2 a:focus {
  outline: none;
}

.cl-effect-2 a {
  line-height: 44px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  color:#fff;
}

.cl-effect-2 a span {
  position: relative;
  display: inline-block;
  padding: 4px 25px;
  border-radius:3px;
  background: #2195de;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.csstransforms3d .cl-effect-2 a span::before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0965a0;
  content: attr(data-hover);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
  line-height: 55px;
  border-radius:3px;

}

.cl-effect-2 a:hover span,
.cl-effect-2 a:focus span {
  -webkit-transform: rotateX(90deg) translateY(-22px);
  -moz-transform: rotateX(90deg) translateY(-22px);
  transform: rotateX(90deg) translateY(-22px);
}

.csstransforms3d .cl-effect-2 a:hover span::before,
.csstransforms3d .cl-effect-2 a:focus span::before {
  background: #28a2ee;
}

@media (max-width: 767px) {

  .container {
    max-width:420px;
    width:420px;
    margin:0 auto;
  }

  .top-message {
    padding-top:8%;
    padding-bottom: 15%;
  }

  .top-message > h1 {
    font-size: 3em;
  }

  ul.top-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  ul.top-social-buttons > li:last-child {
    margin-bottom: 0;
  }

  .top-divider {
    width: 100%;
  }

  .top-buttons i {
    font-size: 22px;
    margin-right: 5px;
    position: relative;
    top: 2px;
  }

  .service-item {
    margin-bottom:30px;
  }

  .top-message .btn1 {
    padding: 15px 23px;
    font-size: 15px;
  }

  .flexslider {
    margin: -60px 0 0 0px !important;
  }

  .top-header, .pricing {
    background-size:200% auto;
  }

}


@media (max-width: 421px) {

  .top-header, .pricing {
    background-size:300% auto;
  }

  .container {
    max-width:280px;
    width:280px;
    margin:0 auto;
  }

  .cl-effect-2 a {
    font-size:11px;
  }

  .nav-tabs > li > a {
    margin-right: -4px;
  }

  .contact-info {
    padding:0px;
    display:table;
  }

  .contact-info li {
    margin-right: 0px;
    font-size: 22px;
    margin-bottom:5px;
  }

  .cinfo-social-buttons {
    float: none;
    margin-top: 0px;
  }

  .cinfo {
    padding: 40px 0 55px;
  }

}

@media only screen and (min-width: 768px) and (max-width: 959px) {

  .top-message {
    padding-right:0px;
  }

  .top-message > h1 {
    font-size: 35px;
    margin-top:-25px;
  }

  .top-message > h3 {
    font-size:20px;
  }

  .top-message > p {
    font-size:13px;
    line-height:21px;
    margin-bottom:10px;
  }

  .top-buttons li {
    font-size:13px !important;
  }

  .top-message .btn1 {
    padding: 12px 25px;
    font-size:14px;
  }

  .lmore {
    font-size:14px;
  }

  .tab-pane p {
    font-size: 13px;
    line-height: 21px;
  }

  .tab-side {
    padding-top:0px;
  }


  .contact-info li {
    list-style: none;
    float: left;
    margin-right: 15px;
    font-size: 24px;
    font-family: Open sans,serif;
    margin-top: 5px;
    letter-spacing: -1px;
  }

}

@media only screen and (min-width: 960px) and (max-width: 1050px) {

  .container {
    width: 90% !important;
    max-width:90% !important;
    margin: 0 auto;
  }

  .top-message {
    padding-right: 0;
  }

  .top-message > h1 {
    font-size: 45px;
    margin-top:-25px;
  }

  .top-message > h3 {
    font-size:24px;
  }

  .top-message > p {
    margin-bottom:10px;
  }

}
