
.icon-ok:before { content: '\e801'; } /* '' */
.icon-paper-plane:before { content: '\e808'; } /* '' */
.icon-arrows-cw:before { content: '\e80c'; } /* '' */
.icon-apple:before { content: '\e803'; } /* '' */
.icon-linux:before { content: '\e800'; } /* '' */
.icon-info:before { content: '\e80e'; } /* '' */
.icon-upload-cloud:before { content: '\e809'; } /* '' */
.icon-phone:before { content: '\e80d'; } /* '' */
.icon-wrench:before { content: '\e80a'; } /* '' */
.icon-linkedin:before { content: '\e80f'; } /* '' */
.icon-dribbble:before { content: '\e80b'; } /* '' */
.icon-github-circled-alt2:before { content: '\e807'; } /* '' */
.icon-win8:before { content: '\e802'; } /* '' */
.icon-download-alt:before { content: '\e804'; } /* '' */
.icon-twitter:before { content: '\e806'; } /* '' */
.icon-facebook:before { content: '\e805'; } /* '' */